
* {
    box-sizing: border-box;
}

body {
    margin: 5% 10%;
    background-image: linear-gradient(to top left, rgba(52,152,191,0.5), rgba(52,152,191,1));

}

.pageHeadingText {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.liCard {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 40%;
    background-image: linear-gradient(to bottom right, rgba(84,191,181,1), rgba(255,255,255,0.4));
    margin-bottom: 40px;
    margin-left: 0;
    padding: 0 20px;
    box-shadow: 10px 10px 30px black;
    border-radius: 5px;
    border: solid 1px #DAA520;

}

.unitName {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}


.statsContainer {
    display: flex;
    justify-content: space-between;
}

.nameHeaderContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameHeader {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding-top: 2px;
}

.troopName {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}

.singleStatContainer {
    display: flex;
    flex-direction: column;
    min-width:  10px;
    align-items: center;
}

.statDescriptor {
    margin: 0;

}

.statP {
    margin: 0;
}

.unitDescriptionP {
    font-family: 'Source Serif 4', sans-serif;
    font-style: italic;
}

.unitCostContainer {
    display: flex;
    justify-content: space-between;
}